@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import 'normalize.css';

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #293742;
  color: #f5f8fa;
  overflow: hidden;
}
